<mat-tree [dataSource]="dataSource" [treeControl]="nestedTree">
    <!-- <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <div *ngFor="let file of node.files">
            {{file}}
        </div>
    </mat-tree-node> -->
      <!-- File nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <div *ngIf="isFileNode(node)">
        {{ node }}
        </div>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle class="expand-icon">
                <mat-icon>
                    {{nestedTree.isExpanded(node)? "folder":"folder_open"}}
                </mat-icon>
            </button>
            {{node.name}}
        </div>
        <div class="nested-node" [class.tree-invisible]="!nestedTree.isExpanded(node)">
            <mat-tree-node *ngFor="let file of node.files" [style.padding-left.px]="16">
                <div>
                  {{ file }}
                </div>
              </mat-tree-node>
              
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>