
:host{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.search-input{
    display: flex;
    align-self: center;
}

.tree-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". tree tree tree";
}

.tree {
    grid-area: tree;
    margin-top: 1rem;

    .mat-tree-node {
        min-height: 2rem;
        margin-top: 0.8rem;
    }

    .expand-icon{
        border: none;
        background: none;
    
        display: flex;
        align-items: center;
    }

    .nested-node {
        padding-left: 2rem;
    }     
}

.folder-name {
    margin-left: 0.5rem;
}

.tree-invisible {
    display: none;
}